/* ------------------------------ :Courses Page ------------------------------ */

.course-card {
    position: relative;
    border: 1px solid var(--violet-950);
    border-radius: 8px;
    margin-bottom: 6rem;
    overflow: hidden;
}

.course-card .cc-content {
    display: flex;
    width: 100%;
}

.course-card .cc-content .cc-img {
    width: 35%;
}

.course-card .cc-content .cc-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-card .cc-text {
    padding: 1rem;
    width: 65%;
}

.course-card .cc-text h2 {
    font-size: var(--text-2xl);
    margin-bottom: .5rem;
}

.course-card .cc-text p {
    font-size: var(--text-base);
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 0.5rem;
}

.course-card .cc-text .cc-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: .5rem;
}

.course-card .cc-text .cc-tags span {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: var(--text-xs);
    color: var(--neutral-200);
    text-decoration: none;

    width: max-content;
    padding: .15rem .3rem;
    border: 1px solid var(--violet-900);
    border-radius: 8px;

    transition: all .2s ease;
}

.course-card .cc-text .cc-tags span:hover {
    border: 1px solid var(--violet-700);
    transform: scale(1.015);
    background-color: #250c3e;
}

.course-card .cc-text .cc-tags span img {
    height: var(--text-xs);
}

.course-card .cc-text .cc-action {
    display: flex;
    margin-top: .5rem;
    float: right;
}

.course-card .cc-text .cc-tags a {
    text-decoration: none;
}


@media (max-width: 768px) {

    .course-card .cc-content {
        flex-direction: column;
    }

    .course-card .cc-content .cc-img {
        width: 100%;
        height: 200px;
    }

    .course-card .cc-content .cc-img img {
        height: 100%;
    }

    .course-card .cc-content .cc-text {
        width: 100%;
    }

    .course-card .cc-content .cc-text .cc-action {
        justify-content: center;
        float: none;
    }
}


/* .course-card {

    div {

        .cc-content {

            .cc-img {

                img {}
            }
        }

        .cc-text {

            h2 {}

            p {}

            .cc-tags {

                span {

                    &:hover {}

                    img {}
                }
            }

            .cc-action {
                a {}
            }
        }
    }
} */

/* .course-card {
    div {
        .cc-content {

            .cc-img {

                img {}
            }

            .cc-text {

                .cc-action {}
            }
        }
    }
} */