.lesson-list-container h3 {
    font-size: var(--text-xl)
}

.lesson-list-items {
    border-radius: 8px;
    margin: .5rem 0 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    padding: 1rem;
    background-color: #081030;
    border: 1px solid var(--violet-900)
}

.lesson-list-items .topic-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    border: 1px solid var(--violet-950);
    /* min-height: 50px; */
    border-radius: 6px;
    padding: 12px;
    transition: all 200ms cubic-bezier(0, 0, .2, 1)
}

.lesson-list-items .topic-item:hover {
    border: 1px solid var(--violet-900);
    background-color: #0b1438;
    transform: scale(1.015)
}

.lesson-list-items .topic-item:active {
    transform: scale(.99)
}

.lesson-list-items .topic-item .item-content {
    display: flex;
    text-wrap: nowrap;
    overflow: hidden
}

.lesson-list-items .topic-item .item-content .item-number {
    opacity: 0;
    text-align: center;
    width: 0;
    max-height: 24px;
    margin: auto 0;
    transition: all .2s cubic-bezier(0, 0, .2, 1)
}

.lesson-list-items .topic-item .item-content .item-number span {
    font-size: var(--text-xl);
    font-weight: 700;
    line-height: 1;
    color: var(--violet-300)
}

.lesson-list-items .topic-item .item-content .item-text {
    line-height: 1
}

.lesson-list-items .topic-item .item-content .item-text h4 {
    color: var(--header-color);
    font-family: var(--accent-font);
    font-weight: 500
}

.lesson-list-items .topic-item .item-content .item-text span {
    text-overflow: ellipsis;
    color: var(--para-color);
    font-size: var(--text-xs)
}

.lesson-list-items .topic-item .item-status-icon {
    display: flex;
    align-items: center;
    justify-content: center
}

.lesson-list-items .topic-item .item-status-icon svg {
    width: 24px;
    height: 24px
}

.lesson-list-items {
    .topic-item {

        &:hover .item-number,
        &:focus .item-number {
            width: 24px;
            opacity: 1;
            margin-right: .5rem
        }
    }
}

@media (max-width:768px) {
    .lesson-list-items {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
}