@import url("/assets/css/nav.css");
@import url("/assets/css/buttons.css");
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("/assets/css/tailwind-colors.css");
@import url("/assets/css/rainbow.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: green dashed 1px; */
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-thumb {
    background: var(--violet-800);
    border-radius: .5rem
}

::-webkit-scrollbar-thumb:hover {
    background: var(--violet-300)
}

::selection {
    background-color: #a87ffb80;
    color: var(--cyan-50)
}

:root {
    --base-font: "Poppins", sans-serif;
    --accent-font: "Lexend", serif;
    --logo-font: "Anta", sans-serif;
    --bg: #10151d;
    --header-color: #bfc7d2;
    --para-color: #808c9c
}

body {
    font-family: var(--base-font);
    color: var(--neutral-50);
    background-color: var(--bg);
    /* filter: saturate(130%); */
    scrollbar-width: thin
}

button {
    font-family: var(--base-font);
    cursor: pointer;
}

hr {
    margin: 1.5rem 0
}

@media (max-width:640px) {
    hr {
        margin: 0 auto
    }
}

@media (max-width:1280px) {
    hr {
        margin: 1.75rem 0
    }
}

*[animate="fadeIn"] {
    animation: fadeIn 1s ease
}

.main-wrapper {
    margin: 0 auto;
    padding: 2.5rem 1rem 0 1rem
}

section .section-container {
    margin: 0 auto;
    max-width: 50rem
}

section .section-header img {
    display: block;
    margin: auto;
    width: 6rem
}

section .section-header p {
    text-align: center;
    color: var(--neutral-300)
}

article {
    margin: 1rem 0
}

.article-image img {
    display: block;
    margin: auto;
    max-width: 50%
}

.article-image p {
    text-align: center
}

.article-image a {
    color: var(--neutral-400);
    font-size: var(--text-sm);
    text-decoration: none
}

.article-image a:hover {
    text-decoration: underline;
    color: var(--violet-600)
}

.article-image a:visited {
    color: var(--violet-600)
}

@media (max-width: 768px) {
    .article-image img {
        max-width: 80%
    }
}

.breadcrumbs-container {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    margin: 0 1rem
}

.breadcrumbs-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: .5rem;
    border-radius: .5rem;
    background-color: none;
    border: 1px solid rgb(38, 35, 47);
    overflow-x: auto
}

.breadcrumbs-content {
    scrollbar-width: thin
}

.breadcrumbs-content a,
.breadcrumbs-content span {
    font-family: var(--accent-font);
    font-size: var(--text-sm);
    font-weight: 400;
    text-wrap: nowrap;
    color: var(--neutral-200);
    text-decoration: none;
    text-transform: capitalize
}

.breadcrumbs-content a:hover {
    text-decoration: underline
}

.breadcrumbs-content svg {
    width: 1rem;
    min-width: 1rem
}

.breadcrumbs-content span {
    min-width: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.page-nav-container {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    max-width: 80rem;
    margin: auto;
}

@media (max-width:768px) {
    .page-nav-container {
        align-items: center;
        flex-direction: column;
        gap: 1rem
    }

    .page-nav-container a {
        width: 100%
    }
}

.page-nav-container a {
    min-width: 140px
}

.page-nav-container a svg {
    width: 1.5rem;
    height: 1.5rem
}

.support-wrapper {
    background-color: #16202de6
}

.support-container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center
}

.support-container .text-content h1 {
    color: var(--header-color)
}

.support-container .text-content p {
    font-size: var(--text-sm)
}

.support-actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem
}

.support-actions a {
    display: flex;
    align-items: center;
    text-decoration: none
}

.support-actions a svg {
    width: 1.3rem;
    height: 1.3rem
}

.report-issue a {
    font-size: var(--text-sm);
    color: var(--neutral-400)
}

.report-issue a svg {
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-right: .25rem;
}

@keyframes logo-fill-delay {
    0% {
        fill: var(--yellow-50)
    }

    20% {
        fill: var(--yellow-100)
    }

    60% {
        fill: var(--yellow-200)
    }

    80% {
        fill: var(--yellow-300)
    }

    100% {
        fill: var(--yellow-400)
    }
}

#svg-logo {
    width: 1.75rem;
    margin-right: .5rem;
    overflow: visible
}

#left {
    animation: move-right 2s forwards, logo-fill-delay 500ms forwards
}

#right {
    animation: move-left 2s forwards, logo-fill-delay 1000ms forwards
}

#left rect,
#right rect,
#middle {
    animation: appear 500ms forwards, logo-fill-delay 1500ms forwards;
    opacity: 0
}

#left rect {
    animation-delay: 500ms
}

#right rect {
    animation-delay: 1000ms
}

#middle {
    animation-delay: 1500ms
}

.intro-wrapper {
    padding: 2.5rem 1rem 1rem 1rem;
    text-align: center;
    margin: auto;
    max-width: 80rem
}

.intro-wrapper .action {
    width: max-content;
    margin: 3rem auto 0 auto
}

.action a:hover svg {
    animation: shake 1s linear
}

.header-text {
    margin: auto;
    padding-top: 4rem;
    max-width: 60rem
}

.main-header-title {
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 1.25;
    color: var(--header-color)
}

.main-header-title span {
    color: var(--violet-400)
}

.intro-wrapper p {
    margin: auto;
    line-height: 1.5;
    color: var(--para-color);
    width: 60%
}

@media (max-width:640px) {
    .main-header-title {
        font-size: var(--text-4xl)
    }

    .header-text p {
        width: 80%;
        font-size: var(--text-base)
    }
}

.banner-container {
    width: 100%;
    padding: 2rem 0;
}

.banner-container img {
    width: 100%
}



.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 3rem 3rem 6rem 3rem
}

.gallery-grid .grid-item1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/thumbnail10.png);
    grid-area: 1 / 1 / 3 / 2
}

.gallery-grid .grid-item2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/thumbnail13.png);
    grid-area: 1 / 2 / 3 / 3
}

.gallery-grid .grid-item3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/thumbnail2.jpg);
    grid-area: 1 / 3 / 3 / 5
}

.gallery-grid .grid-item4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/thumbnail6.jpg);
    grid-area: 3 / 1 / 5 / 3
}

.gallery-grid .grid-item5 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/thumbnail9.png);
    grid-area: 3 / 3 / 5 / 4
}

.gallery-grid .grid-item6 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/lists-thumbnail.png);
    grid-area: 3 / 4 / 5 / 5
}

.gallery-grid .grid-item7 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/thumbnail12.png);
    grid-area: 5 / 1 / 9 / 2
}

.gallery-grid .grid-item8 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/svgs/thumbnail8.svg);
    grid-area: 5 / 2 / 7 / 4
}

.gallery-grid .grid-item9 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/svgs/thumbnail2.svg);
    grid-area: 7 / 2 / 9 / 4
}

.gallery-grid .grid-item10 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--violet-800)), url(/assets/images/svgs/thumbnail10.svg);
    grid-area: 5 / 4 / 9 / 5
}

.gallery-grid .grid-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: .5rem;
    color: var(--violet-50);
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 225px;
    padding: 1rem;
    border-radius: .5rem;
    transition: filter .3s ease
}

.grid-item .grid-item-text {
    background-color: none;
    margin-bottom: 1rem;
    border-radius: .25rem
}

.grid-item .grid-item-icon {
    width: 1.5rem
}

.grid-item .grid-item-icon svg {
    color: var(--violet-200);
    min-width: 1.5rem
}

.grid-item-text h4 {
    color: var(--violet-50);
    font-size: var(--text-xl);
    font-family: var(--accent-font)
}

.grid-item-text span {
    color: var(--violet-200);
    line-height: 1;
    font-size: var(--text-sm)
}

.grid-item:hover {
    filter: saturate(100%)
}

.gallery-grid:hover .grid-item:not(:hover) {
    filter: saturate(60%)
}

@media (max-width:992px) {
    .gallery-grid {
        display: flex;
        flex-direction: column;
        margin: 3rem 1rem
    }

    .grid-item {
        min-height: 200px
    }
}

.testimonial-wrapper {
    background-color: #16202de6;
    padding: 3rem
}

.testimonial-wrapper .header-subtitle {
    margin-bottom: 3rem
}

.testimonial-wrapper .testimonial-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    max-width: 80rem;
    margin: auto
}

.testimonial-container figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem
}

.testimonial-container figure blockquote {
    text-align: center
}

.testimonial-container figure blockquote h3 {
    color: var(--header-color);
    font-size: var(--text-xl)
}

.testimonial-container figure blockquote p {
    color: var(--para-color);
    margin: 1rem 0
}

.testimonial-container figure figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem
}

.testimonial-container figure figcaption img {
    border-radius: 50%;
    width: 40px;
    height: 40px
}

.testimonial-container figure figcaption div p {
    font-size: var(--text-base);
    color: var(--header-color);
    font-weight: 500;
    line-height: 1
}

.testimonial-container figure figcaption div span {
    font-size: var(--text-base);
    color: var(--para-color)
}

@media (max-width:768px) {
    .testimonial-wrapper {
        padding: 1.5rem 0
    }

    .testimonial-wrapper .testimonial-container {
        display: flex;
        flex-direction: column
    }
}

.lesson-card {
    background-color: var(--slate-950);
    padding: 1rem;
    margin: 1rem 0;
    border-style: solid;
    border-radius: .5rem;
    border-width: 0 0 0 6px
}

.lesson-card[card-type="tips"] {
    border-left-color: var(--blue-500)
}

.lesson-card[card-type="warning"] {
    border-left-color: var(--orange-500)
}

.lesson-card[card-type="note"] {
    border-left-color: var(--yellow-500)
}

.card-h {
    font-size: var(--text-md);
    color: var(--neutral-50);
    margin-bottom: .5rem;
    line-height: 1.5;
    font-weight: 600
}

.card-h::before {
    font-size: var(--text-xs);
    font-weight: 400
}

.lesson-card[card-type="note"] .card-h::before {
    content: "\f249";
    font-weight: 700;
    margin-right: .5rem;
    color: var(--yellow-500);
    font-size: var(--text-base);
    font-family: Font Awesome\ 6 Free
}

.lesson-card[card-type="warning"] .card-h::before {
    content: "\f071";
    font-weight: 700;
    margin-right: .5rem;
    color: var(--orange-500);
    font-size: var(--text-base);
    font-family: Font Awesome\ 6 Free
}

.lesson-card[card-type="tips"] .card-h::before {
    content: "\f0eb";
    font-weight: 700;
    margin-right: .5rem;
    color: var(--blue-500);
    font-size: var(--text-base);
    font-family: Font Awesome\ 6 Free
}

:root {
    --text-xs: .75rem;
    --text-sm: .875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 3.75rem;
    --text-7xl: 4.5rem
}

.header-title {
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: var(--text-4xl);
    text-align: center;
    color: transparent;
    background: linear-gradient(to left, var(--cyan-200), var(--cyan-300), var(--violet-400), var(--violet-500), var(--violet-600));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
}

.header-subtitle {
    font-family: var(--accent-font);
    font-size: var(--text-3xl);
    color: var(--header-color);
    text-align: center;
    padding: 0 1rem
}

.article-header {
    color: var(--header-color);
    font-family: var(--accent-font);
    font-size: var(--text-xl);
    font-weight: 600
}

.paragraph {
    font-size: var(--text-base);
    color: var(--para-color);
    margin-bottom: 1.25rem;
    line-height: 1.75
}

.primary-highlight {
    font-family: monospace;
    padding: .2rem;
    border-radius: .5rem;
    color: var(--rose-400);
    font-size: var(--text-sm);
    background-color: var(--slate-950)
}

.secondary-highlight {
    font-weight: 500;
    color: hsl(215, 17%, 70%)
}

details {
    margin-bottom: 1rem
}

details summary {
    cursor: pointer;
    font-weight: 600;
    font-size: var(--text-base)
}

details .unordered-list,
details .ordered-list {
    padding-left: 2rem
}

.unordered-list,
.ordered-list {
    padding-left: 1rem;
    font-size: var(--text-base)
}

.unordered-list li,
.ordered-list li {
    color: var(--para-color);
    margin-bottom: .5rem;
    line-height: 1.75
}

.primary-link {
    line-height: 1;
    color: var(--blue-500);
    font-size: var(--text-base);
    text-underline-offset: 4px;
    text-decoration-thickness: 2px
}

.primary-link:visited {
    color: var(--violet-500)
}

.primary-link:hover,
.primary-link:focus {
    color: var(--indigo-400);
    outline: none;
    text-decoration: underline;
    text-decoration-thickness: 1.5px
}

.primary-link:active {
    color: rgb(255, 0, 0);
    outline: none
}

.footer-wrapper {
    max-width: 80rem;
    width: 100%;
    padding: 3rem 2rem;
    margin: 0 auto
}

.footer-logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem
}

.footer-logo-link {
    display: flex;
    padding: .5rem;
    align-items: center;
    text-decoration: none
}

.footer-logo-link img {
    height: 2rem
}

.footer-logo-link span {
    color: var(--neutral-50);
    font-size: var(--text-2xl);
    font-family: var(--logo-font);
    font-weight: 600;
    text-align: center;
    white-space: nowrap
}

.footer-grid-links {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem
}

.footer-grid-headers {
    color: var(--neutral-100);
    font-family: var(--accent-font);
    font-size: var(--text-sm);
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-weight: 500
}

.footer-grid-list {
    list-style-type: none
}

.footer-grid-list li {
    margin-bottom: 1rem
}

.footer-grid-list li a {
    color: var(--neutral-300);
    font-size: var(--text-sm);
    text-decoration: none;
    margin-bottom: .5rem;
    font-weight: 500
}

.footer-grid-list li a:hover {
    color: var(--neutral-100)
}

.copyright-text {
    font-size: .875rem;
    line-height: 1.25rem
}

.copyright-text a {
    font-family: var(--logo-font);
    color: var(--neutral-50);
    text-decoration: none
}

.copyright-text a:hover {
    text-decoration: underline
}

.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem
}

.social-links a {
    color: var(--neutral-300)
}

.social-links a:hover {
    color: var(--neutral-50)
}

.social-links a svg {
    width: 1rem;
    height: 1rem
}

@media (max-width:420px) {
    .copyright-social-links {
        flex-direction: column
    }

    .footer-links-wrapper > .footer-grid-links {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (max-width:640px) {
    .footer-wrapper {
        padding: 1.5rem 1rem
    }

    .footer-links-wrapper {
        flex-direction: column
    }

    .footer-grid-links {
        gap: 1.5rem;
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .copyright-social-links {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .copyright-text {
        text-align: center
    }

    .social-links {
        justify-content: center;
        margin-top: 0
    }
}

@media (max-width:768px) {
    .footer-grid-links {
        margin-top: 1rem
    }

    .footer-logo-container {
        margin-bottom: 0
    }
}

.form-container {
    margin: 2rem 0 4rem 0
}

.form-container form {
    background-color: #16202de6;
    max-width: 28rem;
    padding: 2rem;
    margin: 0 auto;
    border-radius: .5rem
}

.form-container form .form-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    color: var(--neutral-300);
    font-size: var(--text-sm);
    margin-top: 1.5rem;
}

.form-container form .form-action a {
    font-size: var(--text-sm);
}

.form-container form .form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.form-container form .form-group label {
    color: var(--neutral-300);
    font-size: var(--text-sm)
}

.form-container form .form-group input {
    color: var(--neutral-200);
    font-size: var(--text-base);
    font-weight: 500;
    background: none;
    padding: 8px 12px;
    margin-top: .5rem;
    border: none;
    border-bottom: 2px solid var(--violet-500);
}

.form-container form .form-group input:hover,
.form-container form .form-group input:focus {
    outline: none;
    border-bottom: 2px solid var(--violet-400)
}

.form-container form .form-group a {
    font-size: var(--text-sm);
    color: var(--neutral-400)
}

.form-container form .form-group-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem
}

.form-container form .form-group-actions div {
    display: flex;
    align-items: center;
}

.form-container form .form-group-actions div.center {
    margin: auto;
}

.form-container form .form-group-actions div input {
    margin-right: .5rem;
}

.form-container form .form-group-actions div label {
    color: var(--neutral-300);
    font-size: var(--text-sm)
}

.form-container form .form-group-actions div a {
    font-size: var(--text-sm);
    color: var(--neutral-300);
    text-decoration: none
}

.form-container form .form-group-actions div a:hover {
    text-decoration: underline;
    color: var(--neutral-50)
}

.form-container form button {
    margin-top: 1rem;
    width: 100%;
    border: none;
    font-size: var(--text-base)
}

.form-container form .form-group-divider {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-container form .form-group-divider hr {
    width: 100%;
    border: 1px solid var(--gray-700);
}

.form-container form .form-group-divider span {
    padding: 0 .5rem;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    color: var(--gray-400);
    background-color: #16202de6
}

.form-container form .form-buttons button {
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--neutral-300);
    font-weight: 500;
    padding: .5rem .25rem;
    border: 1px solid var(--gray-600);
    border-radius: 4px;
    background-color: var(--gray-800);
    cursor: pointer;
    transition: all .2s ease
}

.form-container form .form-buttons button svg {
    position: absolute;
    transform: translateX(-50%);
    left: 1.5rem;
    top: .75rem;
    width: 1.5rem;
    fill: var(--neutral-500)
}

.form-container form .form-buttons button:hover {
    background-color: var(--gray-700);
    transform: scale(1.01)
}

.form-container form .form-buttons button:active {
    transform: scale(.99)
}

.contact-wrapper {
    margin-bottom: 4rem;
}

.contact-wrapper .contact-header {
    font-size: var(--text-4xl);
    text-align: center;
    margin: 0 auto;
    max-width: 40rem
}

.contact-wrapper .contact-subtitle {
    font-size: var(--text-base);
    text-align: center;
    margin: 0 auto;
    max-width: 30rem
}

.contact-wrapper .contact-form-container {
    margin: 0 auto;
    max-width: 30rem
}

.contact-wrapper .contact-form-container form {
    padding: 1rem
}

.contact-wrapper .contact-form-container form .form-group {
    display: flex;
    flex-direction: column;
    margin: 2rem 0
}

.contact-wrapper .contact-form-container form .form-group label {
    color: var(--neutral-300)
}

.contact-wrapper .contact-form-container form .form-group textarea,
.contact-wrapper .contact-form-container form .form-group input {
    font-family: var(--base-font);
    color: var(--violet-50);
    background: transparent;
    border: none;
    outline: none;
    padding: .25rem .5rem;
    border-bottom: 2px solid var(--violet-500);
    scrollbar-width: thin
}

.contact-wrapper .contact-form-container form .form-group textarea:focus,
.contact-wrapper .contact-form-container form .form-group input:focus {
    border-bottom: 2px solid var(--violet-300)
}

.contact-wrapper .contact-form-container form button {
    font-family: inherit;
    border: none
}

.contact-wrapper .contact-form-container form button svg {
    width: 1rem;
    height: 1rem
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear {
    0% {
        opacity: 0
    }

    33.33% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes move-right {
    0% {
        transform: translateX(-6rem)
    }

    50% {
        transform: translateX(-1.5)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes move-left {
    0% {
        transform: translateX(6rem)
    }

    50% {
        transform: translateX(1.5rem)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes shake {
    0% {
        transform: rotate(3deg)
    }

    25% {
        transform: rotate(-5deg)
    }

    50% {
        transform: rotate(3deg)
    }

    75% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(3deg)
    }
}